@mixin u-top-border($size: 'large', $style: 'dark')
  position: relative

  &:before
    border-top-color: $color-tertiary
    border-top-style: solid
    border-top-width: .15em
    content: ''
    display: block
    height: .2rem
    position: relative
    margin-left: inherit
    margin-right: inherit
    width: 2.5em

    @include bp('landscape')
      width: 5em

    @include bp('portrait')
      border-top-color: $color-grey-medium

    @if $style == "light"
      border-top-color: $color-white

      @include bp('portrait')
        border-top-color: $color-white

    @if $size == "small"
      border-top-width: .2rem
      height: .2rem
      top: -.2rem
      width: 2.4rem

  @if $size == "small"
    padding-top: .8rem



