// GENERAL

// include reset
@import '../css/reset.css'

@import 'variables'
@import 'breakpoints'
@import 'layout'
@import '404'

// base reset
button
  background: none

body, html
  background-color: $color-body

.page-container
  background-color: $color-white

button,
hr
  border: none

*
  box-sizing: border-box
  font-weight: $font-weight-light

a,
html
  color: $color-dark

a,
button
  cursor: pointer

img
  display: block

html
  font-family: $sans-serif

h1,h2,h3,h4,h5,h6,strong
  font-weight: $font-weight-semi-bold

html
  font-size: 62.5% // 1 rem now equals 10px

body
  font-size: $font-size-medium
  -webkit-text-size-adjust: none

h2
  font-size: $font-size-very-large

h3
  font-size: $font-size-medium

h1,h2,h3,h4,h5,h6,
strong
  font-weight: $font-weight-bold

div, p
  font-weight: $font-weight-light

body,
#site-container,
.page-container
  height: 100%

html
  min-height: 100%

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -moz-tap-highlight-color: rgba(0, 0, 0, 0)


h1,h2,h3,h4,h5,h6,
p
  margin: 0 0 .65em 0

#site-container
  margin: auto
  max-width: $length-large

img
  object-fit: cover

// TODO use this instead :
// http://vuetips.com/v-cloak-directive-hides-html-on-startup
html
  opacity: 0

*:focus
  outline: none

a[href=""]
  pointer-events: none

// project specific
*[v-cloak]
  opacity: 0

// globals

.medium
  font-size: $font-size-medium

.large
  font-size: $font-size-large

.enormous
  color: $color-tertiary
  font-weight: $font-weight-very-bold
  font-size: $font-size-enormous
  line-height: 1
  padding-top: .1em

a
  text-decoration: none

p a
  text-decoration: underline

hr
  border-top: .1rem solid $color-light
  margin: $common-spacing 0


@import '../../node_modules/slick-carousel/slick/slick.css'

// utilities
@import 'utilities/_top-border.sass'
@import 'utilities/_common-header.sass'
@import 'utilities/_common-table.sass'
@import 'utilities/_clearfix.sass'
@import 'utilities/_margin.sass'
@import 'utilities/_wire-frame.sass'
@import 'utilities/_cta-link.sass'

// -- COMPONENTS ------------------------------------------

.site-container
  .admin-bar &
    position: relative
    top: 4.6rem

    @include bp('portrait')
      top: 3.2rem

.page-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  min-height: 100vh
  position: relative
  width: 100%

.page-blocks

.footer
  margin-top: auto

@import 'components/accordion'
@import 'components/footer'
@import 'components/header'
@import 'components/job-summary'
@import 'components/nav-block'
@import 'components/quote'
@import 'components/search'
@import 'components/text-block'
@import 'components/video-player'

.banner-image
  @extend .u-wireframe-image
  height: 9rem
  width: 100%
// https://www.google.co.uk/search?rlz=1C5CHFA_enGB768GB768&q=css+draw+line+between+elements&oq=css+draw+line+be&gs_l=psy-ab.3.1.0l5j0i22i30k1l5.1752.2140.0.4233.3.3.0.0.0.0.69.169.3.3.0....0...1.1.64.psy-ab..0.3.168....0.sFn_J9E1wJo
// http://sigmajs.org/
// https://github.com/musclesoft/jquery-connections
// https://www.quora.com/What-is-the-best-HTML5-visualization-library-that-can-draw-graphs-nodes-and-edges
// https://www.w3schools.com/graphics/svg_line.asp
// https://stackoverflow.com/questions/21864989/draw-lines-between-2-elements-in-html-page

