@mixin background-img($path)
   background-image: url('/app/themes/ppj/dest/img/#{$path}')

// fonts
$sans-serif: 'Barlow', sans-serif
$serif: Merriweather, Georgia, 'Times New Roman', serif
$mono: 'Source Code Pro', Courier, mono

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-semi-bold: 500
$font-weight-bold: 700
$font-weight-very-bold: 700

$font-size-tiny: 1.1rem
$font-size-quite-tiny: 1.2rem
$font-size-small: 1.6rem
$font-size-medium: 1.8rem
$font-size-large-medium: 2rem
$font-size-large: 2.2rem
$font-size-very-large: 2.6rem
$font-size-really-very-large: 2.8rem
$font-size-quite-huge: 3.2rem
$font-size-fairly-huge: 3.4rem
$font-size-almost-huge: 4rem
$font-size-huge: 4.2rem
$font-size-really-huge: 4.5rem
$font-size-enormous: 4.8rem
$font-size-gigantic: 5.6rem

// colors
$color-main: #0099cc
$color-main-shadow: #0089bc
$color-main-hover: #007197
$color-secondary: rgb(30,147,189)
$color-tertiary: rgb(113,11,105)
$color-section-highlighted: rgb(240,229,239)
$color-extremely-light: rgb(240,240,240)
$color-very-light: rgb(229,229,232)
$color-light: rgb(204,204,204)
$color-medium: rgb(240,240,240)
$color-grey-medium: rgb(102,102,119)
$color-dark: rgb(25,25,52) //rgb(0,1,29) //#191934
$color-very-dark: rgb(0,0,30)
$color-dark-section: rgb(51,51,75) //rgb(50,52,74)
$color-transparency-dark-start: rgb(0,0,30) //#00001e
$color-transparency-dark-end: #33334b
$color-body: #33334b
$color-dark-transparent: rgba(0,0,0,0.85)
$color-medium-transparent: rgba(0,0,0,0.3)
$color-white: #fff
$color-white-transparent: rgba(255,255,255,0.9)
$color-transparent: rgba(0,0,0,0)
$color-transparent2: rgba(255,255,255,0)
$color-nav-block: rgb(208, 234, 242)
$color-gradient-dark: $color-very-dark
$color-gradient-light: $color-dark-section

$length-portrait: 768px
$length-landscape: 1024px
$length-large: 1440px

// layout
$common-spacing: 1.6rem

// transitions
$main-transition-duration: .5s
