// GENERAL

// include reset
@import '../css/reset.css'

@import 'font-faces'
@import 'variables'
@import 'breakpoints'
@import 'layout'

// base reset
button
  background: none

html
  background-color: $color-white

button
  border: none

*
  box-sizing: border-box

a,
html
  color: $color-dark

a,
button
  cursor: pointer

img
  display: block

html
  font-family: $sans-serif

h1,h2,h3,h4,h5,h6
  font-family: $sans-serif-strong

html
  font-size: 62.5% // 1 rem now equals 10px

body
  font-size: $font-size-medium
  -webkit-text-size-adjust: none

h2
  font-size: $font-size-huge

h3
  font-size: $font-size-medium

h1,h2,h3,h4,h5,h6,
strong
  font-weight: $font-weight-bold

h1,h2,h3,h4,h5,h6,
p
  margin: 0 0 .65em 0

// TODO use this instead :
// http://vuetips.com/v-cloak-directive-hides-html-on-startup
html
  opacity: 0

*:focus
  outline: none



// globals

.medium
  font-size: $font-size-medium

.large
  font-size: $font-size-large

.enormous
  color: $color-main
  font-family: $sans-serif-strong
  font-size: $font-size-enormous
  line-height: 1
  padding-top: .1em

a
  text-decoration: none

p a
  text-decoration: underline

// utilities
@import 'utilities/_common-header.sass'
@import 'utilities/_common-table.sass'
@import 'utilities/_clearfix.sass'
@import 'utilities/_margin.sass'
@import 'utilities/_top-border.sass'
@import 'utilities/_wire-frame.sass'

// -- COMPONENTS ------------------------------------------

.page-container
  width: 100%

@import 'components/accordion'
@import 'components/call-to-action'
@import 'components/contact'
@import 'components/header'
@import 'components/job-summary'
@import 'components/ordered-list'
@import 'components/quote'
@import 'components/role-intro'
@import 'components/search'
@import 'components/tabs'
@import 'components/text-and-image'
@import 'components/text-block'
@import 'components/video-player'

.banner-image
  @extend .u-wireframe-image
  height: 9rem
  width: 100%
// https://www.google.co.uk/search?rlz=1C5CHFA_enGB768GB768&q=css+draw+line+between+elements&oq=css+draw+line+be&gs_l=psy-ab.3.1.0l5j0i22i30k1l5.1752.2140.0.4233.3.3.0.0.0.0.69.169.3.3.0....0...1.1.64.psy-ab..0.3.168....0.sFn_J9E1wJo
// http://sigmajs.org/
// https://github.com/musclesoft/jquery-connections
// https://www.quora.com/What-is-the-best-HTML5-visualization-library-that-can-draw-graphs-nodes-and-edges
// https://www.w3schools.com/graphics/svg_line.asp
// https://stackoverflow.com/questions/21864989/draw-lines-between-2-elements-in-html-page


