// GENERAL

// include reset
@import '../css/reset.css'

@import 'variables'
@import 'breakpoints'
@import 'layout'

// base reset
*:focus
  outline: none

*
  box-sizing: border-box

a
  color: $color-dark
  cursor: pointer
  text-decoration: none

html
  font-size: 62.5%
  color: $color-dark
  background-color: $color-white
  font-family: $sans-serif
  opacity: 0

body
  font-size: $font-size-medium
  -webkit-text-size-adjust: none

button
  border: none
  background: none
  cursor: pointer

strong
  font-weight: $font-weight-bold

// utilities
@import 'utilities/_common-header.sass'
@import 'utilities/_common-table.sass'
@import 'utilities/_clearfix.sass'
@import 'utilities/_margin.sass'
@import 'utilities/_top-border.sass'
@import 'utilities/_wire-frame.sass'

// -- COMPONENTS ------------------------------------------

.page-container
  width: 100%

.call-to-action
  background: $color-main
  margin-bottom: $main-mobile-spacing
  padding: $main-mobile-spacing

  &__list-element
    background: $color-main
    border: 1px solid $color-white
    color: $color-white
    font-size: $font-size-large
    margin-top: 1rem
    text-align: center

    &:first-child
      margin-top: 0

    & > a
      color: $color-white
      cursor: pointer
      display: block
      padding: $main-mobile-spacing/2 $main-mobile-spacing

      &[href='']
        color: $color-light
        pointer-events: none // TODO remove



@import 'components/accordion'
@import 'components/contact'
@import 'components/header'
@import 'components/quote'
@import 'components/role-intro'
@import 'components/search'
@import 'components/tabs'
@import 'components/text-and-image'
@import 'components/text-block'
@import 'components/video-player'

.banner-image
  @extend .u-wireframe-image
  height: 9rem
  width: 100%
// https://www.google.co.uk/search?rlz=1C5CHFA_enGB768GB768&q=css+draw+line+between+elements&oq=css+draw+line+be&gs_l=psy-ab.3.1.0l5j0i22i30k1l5.1752.2140.0.4233.3.3.0.0.0.0.69.169.3.3.0....0...1.1.64.psy-ab..0.3.168....0.sFn_J9E1wJo
// http://sigmajs.org/
// https://github.com/musclesoft/jquery-connections
// https://www.quora.com/What-is-the-best-HTML5-visualization-library-that-can-draw-graphs-nodes-and-edges
// https://www.w3schools.com/graphics/svg_line.asp
// https://stackoverflow.com/questions/21864989/draw-lines-between-2-elements-in-html-page

@import 'components/ordered-list'
