.idea/
/web/app/themes/ppj/meta/
/web/app/themes/ppj/node_modules/
/web/app/themes/ppj/public/css/
/web/app/themes/ppj/public/img/
/web/app/themes/ppj/public/js/
/web/app/themes/ppj/public/fonts/
/web/app/themes/ppj/public/*.html
/web/app/themes/ppj/vendor/
/web/app/themes/ppj/temp-auth/.htpasswd
/web/app/themes/ppj/mix-manifest.json
