.u-top-border
  padding-top: 1rem
  position: relative

  &:before
    border-top: .3rem solid $color-dark
    top: 0
    content: ''
    height: .2rem
    position: absolute
    width: 4rem
    left: 0