.accordion
  $c: &
  font-size: $font-size-small
  margin: 0 $main-mobile-spacing

  &__title
    @extend .common-header

  &__subtitle
    font-weight: $font-weight-bold
    margin-bottom: $main-mobile-spacing

  &__list-element
    position: relative

    &:first-child
      border-top: 1px solid $color-light

    &-header
      border-bottom: 1px solid #cccccc
      margin-bottom: 0
      padding: $main-mobile-spacing/2 0

    &-title
      display: list-item
      margin-bottom: 0

    &-subtitle
      font-family: $sans-serif
      font-weight: $font-weight-normal

    &-content
      border-left: .4rem solid $color-light
      font-weight: $font-weight-light
      height: 0
      overflow: hidden
      padding: 0 1rem
      transition: all $main-transition-duration

      & > p
        margin-top: $main-mobile-spacing/2

        &:first-child
          margin-top: 0

        &:last-child
          margin-bottom: 0

      & > a
        text-decoration: underline

    &-button
      //color: $color-main // https://stackoverflow.com/questions/32413731/color-for-unicode-emoji/39776303#39776303
      color: transparent
      cursor: pointer
      display: block
      float: right
      font-size: $font-size-small
      margin-top: .2rem
      padding: 0
      position: relative
      text-shadow: 0 0 0 $color-main
      //top: .2rem
      transform: rotate(0deg)
      transition: all $main-transition-duration

    &--open
      .accordion
        &__list-element
          &-content
            height: initial
            margin-top: $main-mobile-spacing/2

          &-button
            transform: rotate(90deg)

          &-button
            & > div
              &:first-child
                opacity: 0

  &--numbered
    .accordion
      &__list-element
        display: block

      &__list-element-title
        //background: red
        display: list-item
        list-style-type: decimal
        margin-left: $main-mobile-spacing

