.job-summary
  $verticalPadding: $common-spacing / 2
  $salaryWidth: 8.5rem

  background-color: inherit
  font-size: $font-size-small
  line-height: 1.2
  padding: $verticalPadding $common-spacing
  position: relative
  text-align: left
  transition: $main-transition-duration

  &:before
    background-color: $color-transparent
    border-radius: $common-spacing
    bottom: $verticalPadding
    content: ' '
    display: block
    left: 0
    position: absolute
    top: $verticalPadding
    transition: all $main-transition-duration
    width: $common-spacing / 2
    z-index: 1

  &__content
    background-color: inherit
    position: relative

  &__distance
    height: 1.3em

  &__position
    font-weight: $font-weight-bold

  &__salary
    background-color: inherit
    font-weight: $font-weight-bold
    padding-left: $common-spacing
    position: absolute
    right: 0
    text-align: right
    width: $salaryWidth

  &__link
    bottom: .7rem
    position: absolute
    right: 0
    text-decoration: underline
    text-transform: capitalize

  &__prison-name
    font-weight: $font-weight-bold
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  &__prison-name > a
    text-decoration: underline

  &--selected
    transition: $main-transition-duration

    &:before
      background-color: $color-main
      transition: all $main-transition-duration

