.job-summary
  border-bottom: .1rem solid $color-light
  font-size: $font-size-small
  line-height: 1.2
  padding: $common-spacing/2 0
  position: relative

  &__distance
    font-weight: $font-weight-bold

    &-miles:after
      content: ' mi.'

    &-time
      color: #cccccc

  &__position
    font-weight: $font-weight-bold

  &__salary
    font-weight: $font-weight-bold
    position: absolute
    right: 0
    top: $common-spacing/2

  &__link
    bottom: $common-spacing/2
    position: absolute
    right: 0
    text-decoration: underline

  &__prison-name > a
    text-decoration: underline
