.nav-block
  background-color: $color-nav-block
  margin: 0 $common-spacing
  padding: $common-spacing
  border-top-right-radius: $common-spacing

  &__title
    font-weight: $font-weight-bold
    margin-bottom: $common-spacing

  &__link
    margin-bottom: $common-spacing

    & > a
      cursor: pointer
      text-decoration: underline
