.nav-block
  background-color: $color-nav-block
  font-size: $font-size-small
  margin: $common-spacing $common-spacing
  padding: $common-spacing
  border-top-right-radius: $common-spacing

  @include bp('portrait')
    border-top-right-radius: $common-spacing * 2

  @include bp('landscape')
    padding: $common-spacing * 2
    margin: $common-spacing * 2 $common-spacing * 2

  &__title
    font-size: 2.2rem
    font-weight: $font-weight-bold
    margin-bottom: $common-spacing

    @include bp('portrait')
      font-size: 2.8rem

    @include bp('landscape')
      font-size: 3.6

    @include bp('landscape')
      font-size: 4.4rem

  &__link

    & > a
      cursor: pointer
      font-size: 1.6rem
      line-height: 3.2rem
      text-decoration: underline

      @include bp('portrait')
        font-size: 1.8rem
        line-height: 3.4rem

      @include bp('landscape')
        font-size: 2.2rem
        line-height: 4.2rem

      @include bp('landscape')
        font-size: 2.4rem
        line-height: 5.2rem
