.text-block
  font-size: $font-size-small
  margin: 0 $main-mobile-spacing

  &__title
    @extend .common-header

  &__subtitle
    font-weight: $font-weight-bold
    font-size: $font-size-small

  &__content
    & > h4
      font-weight: $font-weight-bold
      font-size: $font-size-small
      margin: $main-mobile-spacing 0 $main-mobile-spacing/2 0

    & li
      font-size: $font-size-small
      margin: $main-mobile-spacing/2 0
      margin-left: $main-mobile-spacing
      padding-right: $main-mobile-spacing * 2

    & ol li
      list-style-type: decimal

    & ul li
      list-style-type: disc
      margin-left: 2rem

    p
      margin-bottom: $main-mobile-spacing/2
      //margin-right: $main-mobile-spacing/2
      padding-right: $main-mobile-spacing

    p:last-of-type
      margin-bottom: 0

    a
      text-decoration: underline

    hr
      margin-right: $main-mobile-spacing * 2

  @at-root a#{&}__link // https://stackoverflow.com/questions/17268051/sass-combining-parent-using-ampersand-with-base-element
    background-color: $color-main
    //border: .2rem solid $color-dark
    border-radius: $main-mobile-spacing * 2
    color: $color-white
    display: block
    font-weight: bold
    margin: $main-mobile-spacing/2 0
    padding: $main-mobile-spacing *.8
    text-align: center
    text-decoration: none
    //text-transform: uppercase
