.accordion
  font-size: $font-size-small
  padding: $main-mobile-spacing/2 $main-mobile-spacing

  &__title
    @extend .u-top-border
    font-size: $font-size-medium
    font-weight: $font-weight-bold
    margin-bottom: $main-mobile-spacing/2

  &__subtitle
    font-weight: $font-weight-bold
    margin-bottom: 1rem



  &__list-element
    //border-bottom: 1px solid $color-light
    position: relative

    &:first-child
      border-top: 1px solid $color-light

    &-title
      border-bottom: 1px solid #cccccc
      font-weight: $font-weight-bold
      padding: $main-mobile-spacing/2 0

    &-content
      border-left: 2px solid $color-light
      font-weight: $font-weight-light
      height: 0
      overflow: hidden
      padding-left: 1rem
      transition: height $main-transition-duration

    &-button
      cursor: pointer
      position: absolute
      right: 0
      top: .2rem

    &-button:before // TODO change to image
      color: $color-main
      content: '+'
      font-size: 2rem
      font-weight: $font-weight-bold

    &--open
      .accordion__list-element-content
        height: initial
        margin-top: $main-mobile-spacing/2
        transition: $main-transition-duration