.tabs
  margin: $main-mobile-spacing

  &__nav
    display: flex
    justify-content: space-between

    &-link
      background-color: $color-dark
      color: $color-white
      padding: $main-mobile-spacing/2

      &--active
        background-color: $color-main