.text-block
  font-size: $font-size-tiny
  margin: 0 $main-mobile-spacing

  &__title
    @extend .common-header

  &__subtitle
    font-weight: $font-weight-bold
    font-size: $font-size-small

  &__content

    & > h4
      font-weight: $font-weight-bold
      font-size: $font-size-small
      margin: $main-mobile-spacing 0 $main-mobile-spacing/2 0

    & li
      margin: $main-mobile-spacing/2 0
      margin-left: $main-mobile-spacing

    & ol li
      list-style-type: decimal

    & ul li
      list-style-type: square
      margin-left: $main-mobile-spacing

    p
      margin-bottom: $main-mobile-spacing/2

    p:last-of-type
      margin-bottom: 0

  &__link
    border: .2rem solid $color-dark
    display: block
    font-weight: bold
    margin: $main-mobile-spacing/2 0
    padding: $main-mobile-spacing/2
    text-align: center
