.text-and-image
  $c: &
  @extend .u-clearfix
  margin: 0 $main-mobile-spacing
  position: relative

  &__wrapper
    border-bottom: .2rem solid $color-dark
    display: flex
    flex-direction: row-reverse

  &__main-section
    @extend .u-clearfix
    border-bottom: .2rem solid $color-dark

  &__text-container
    @extend .u-clearfix
    padding-right: $main-mobile-spacing
    width: 50%

  &__image-container
    align-self: flex-end
    bottom: .2rem
    width: 50%

    @include bp('portrait')
      width: 50rem
      height: 25rem

  &__image
    @extend .u-wireframe-image
    object-fit: cover
    height: 100%
    width: 100%

  &__title
    @extend .common-header
    clear: left
    float: left
    width: initial

  &__subtitle
    font-weight: $font-weight-bold
    font-size: $font-size-small
    margin-bottom: $main-mobile-spacing/2

  &__text
    clear: left
    float: left
    font-size: $font-size-small
    padding-right: $main-mobile-spacing
    padding-bottom: $main-mobile-spacing/2
    //width: 50%

  &__quote-container
    font-size: $font-size-tiny
    font-weight: $font-weight-bold
    margin-bottom: $main-mobile-spacing/2
    position: relative

  &__quote-mark:before
    color: $color-main
    content: open-quote
    display: block
    font-size: 6rem
    line-height: 1rem
    margin-top: 2.1rem

    &:after
      content: close-quote
      visibility: hidden

  &__quote-source
    color: $color-light
    font-size: $font-size-tiny

  &__content
    font-size: $font-size-tiny
    margin-top: $main-mobile-spacing/2

  &--inlaid-text
    $shade: rgba(0,0,0,.6)
    color: $color-white
    margin: 0
    overflow: hidden

    #{$c}__wrapper
      display: block

    #{$c}__text-container
      background-color: $shade
      box-shadow: 0 0 3rem 3rem $shade
      padding: $main-mobile-spacing
      width: 80%

    #{$c}__title,
    #{$c}__text
      width: 100%

    #{$c}__title
      font-size: $font-size-large
      margin: $main-mobile-spacing/2 0

    #{$c}__main-section
      background-color: $shade
      border: none
      box-shadow: 0 0 3rem 3rem $shade
      padding: $main-mobile-spacing
      width: 80%

    #{$c}__image-container
      bottom: 0
      left: 0
      margin: 0
      position: absolute
      right: 0
      top: 0
      width: 100%
      z-index: -1

    #{$c}__text
      font-size: $font-size-small
      line-height: 1.25


